/* Header */
.graphs .header {
    height: 15vh;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.graphs .header > div {
    padding: 2px 10px;
    margin-right: 5px;
    font-size: 30px;

    border: var(--main-border);
    border-radius: 10px;
    cursor: pointer;
}

/* Body */
.graphs .body {
    height: 85vh;
    padding: 50px;
}

.graphs .body .graph {
    width: 30vw;
}