.yearSwitchContainer {
    height: 15vh;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.yearSwitchContainer div {
    padding: 2px 10px;
    margin-right: 5px;
    font-size: 30px;

    border: var(--main-border);
    border-radius: 10px;
    cursor: pointer;

    text-align: center;
    transition: all 0.3s ease-in-out;
}

.yearSwitchContainer div:hover {
    background: white;
    color: #523ab5;
}

.yearSwitchContainer div div {
    color: white;
} 

.yearsContainer div {
    margin: 0 0 10px 0;
}