.yearSwitchContainer {
    height: 15vh;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.yearSwitchContainer div {
    padding: 4px 10px;
    margin-right: 5px;
    font-size: 30px;

    border: var(--main-border);
    border-radius: 10px;
    cursor: pointer;
    user-select: none;

    text-align: center;
    transition: color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.yearSwitchContainer div.mainSwitchBtn {
    height: 38px;
    border: none;
    padding: 8px 0;
}

.yearSwitchContainer div.mainSwitchBtn > div:first-child{
    padding: 4px 20px;
    margin: 0;
}

.yearSwitchContainer div:not(.mainSwitchBtn):hover {
    background: white;
    color: #523ab5;
}

.yearSwitchContainer div div {
    color: white;
} 

/*Loaded Years*/
.yearsContainer {
    height: 50vh;
    padding-right: 5px;

    overflow-y: auto;
    z-index: 1;
}

.yearsContainer div {
    margin: 0 0 10px 0;
    opacity: 0;
    padding: 0;
    background: #503ab6;
    animation: slide 0.75s ease-in-out calc(0.25s * var(--n)) forwards;
}