.body {
    display: flex;
    justify-content: center;

    margin-top: 15px;
}

.body > div {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 87px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
    background: rgb(255 255 255 / 8%);
}

.body > div:first-child {
    border-left: var(--main-border);
    border-radius: 10px 0 0 10px;
}

.body > div:last-child {
    border-right: var(--main-border);
    border-radius: 0 10px 10px 0;
}


.body > div:nth-child(even) {
    height: 77vh;

    background-color: red;
    background: rgb(255 255 255 / 10%);
}

.body > div > div:first-child {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;

    padding: 4px;
    background: rgb(255 255 255 / 20%);
    
    text-align: center;
}

.body > div:first-child > div:first-child {
    border-radius: 10px 0 0 0;
}

.body > div:last-child > div:first-child {
    border-radius: 0 10px 0 0;
}

.body > div > div:last-child {
    display: flex;
    flex-direction: column;

    height: 100%;
    overflow-y: auto;
    padding: 4px;
}

.body > div > div:last-child::-webkit-scrollbar {
    display: none;
}

.body input {
    border-radius: 10px;
    background-color: transparent;
    padding: 4px;
    text-align: center;
    font-size: 16px;
    width: 70px;
}

.body .addExpense{
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.body .contextMenu {
    display: none;
    position: absolute;

    padding: 10px;
    background-color: rgba(0, 0, 0, 0.492);
    border-radius: 10px;
}

.body .contextMenu[visible] {
    display: block;
}

.body .contextMenu div {
    cursor: pointer;
    margin-bottom: 5px;
}

.body .contextMenu span {
    display: none;
}

.body .contextMenu span div {
    padding-left: 13px;
}