:root {
  color: white;

  --main-border: 1px solid rgb(255 255 255 / 28%);
}

body {
  margin: 0;
}

input {
  border: none;
  padding: 0;
  font-size: 20px;
  cursor: text;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border-style: none;
  padding: 0;
}

a, button {
  cursor:pointer;
}

a, input, button {
  color: white;
}

/*CSS Multiuses*/
#moduleContainer {
  width: 100vw;
  height: 100vh;
}

.hidden {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255 255 255 / 58%);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255 255 255 / 78%); 
}

/*Logo global*/
#NavigationLogo {
  display: inline-flex;

  position: absolute;
  top: 20px;
  left: 20px;

  font-size: 30px;
}

#NavigationLogo img {
  max-height: 39px;
  float: left;

  margin-right: 5px;
  user-select: none;
}

#NavigationLogo > span {
  margin-left: 5px;
}

#NavigationLogo  button > span {
  height: 26px;
  width: 26px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgb(255 255 255 / 10%);
  border: 1px solid rgb(255 255 255 / 28%);
  border-radius: 5px;
  font-size: 20px;
}

/*Economics global*/
.bg-economics {
  background: linear-gradient(45deg, #864BA2, #3230bf);
}


/* ANIMATIONS */
@keyframes slide {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(10px);
    opacity: 1;
  }
}